body{
  margin:0;
  background-color:gold;
  text-align: center;
  
}
h1{
  color:blue;
  text-align:center;
  font-size:36px;
  font-style: oblique;
}
#fond{
  font-weight:bold;
  color:red;
}
p{
  display: inline;
  --background-color: whitesmoke;
  padding: 1px;
  
}

.A{  
  font-size:20px;
  margin-left:50px;
  text-align:left;
  margin-top:10px;
  color:blue;
}

.A p{
  text-align:left;
  color:black;
  
  
}
footer{
  font-size:30px;
  color:gold;
  margin-top:10px;
  background-color:black;
   height:40px;
   
}

#flex-container {
  display: flex;
  justify-content:space-between;
  height: calc(50% - 5px);
}

div.col {
  background-color: gold;
  border: 2px solid gold;
  width: calc(50% - 5px);
}

.int{
  font-weight:bold;
  display:block;
  margin-left:10px;
  text-align:center;
  font-size:20px;
  color:red;
  margin-top:50px;
}